#main_div {
	padding: 10px;
	background-color: #221C27;
	max-width: 75%;
	float: left;
	border-radius: 20px;
}

#div_head_text {
	color: white;
	font-size: 45px;
}

#div_main_text {
	color: white;
	font-size: 25px;
}

.div_img {
	width: 400px;
	border-radius: 20px 0px 20px 0px;
	margin-right: 20px;
}

/**************************************************/

#con_div {
	text-decoration: none;
	padding: 10px;
	background-color: #948C98;
	float: right;
	border-radius: 20px;
}

.con_block {
	text-decoration: none;
	background-color: #3D4339;
	padding: 10px;
	border-radius: 20px;
	margin: 10px;
}

.con_block_header_text {
	text-decoration: none;

	font-size: 20px;
	color: white;
}

.con_block_status {
	text-decoration: none;
	display: inline-block;

	font-size: 12px;
	color: rgba(220 , 220 , 220 , 0.5);
}

