#header {
	background-color: #05386b;
	min-height: 110px;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content:space-between;
	margin: 0px;
	padding: 5px;
	border-radius: 15px;
}

#logo {
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content:space-between;
	font-size: var(--size-logo-text);
}

#logo-img {
	max-width: var(--size-logo-img);
	float: left;
}

.h-img {
	max-width: var(--size-header-img);
	float: left;
	margin-left: var(--margin-header-img);
}

.h-div {
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
}

.h-text {
	font-size: var(--size-header-text);
    float: right;
}