/*
main colors: 
#05386b
#379683
#5cdb95
#8ee4af
#edf5e1
*/

@import url("./fonts.css");
@import url("./header.css");
@import url("./menu.css");
@import url("./style-c.css") (min-device-width: 481px);
@import url("./style-m.css") (max-device-width: 480px);

*{
	box-sizing: border-box;
}

body , html{
	size: 100%;
	background-color: #22B859;
	padding: 0px;
}

body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

a {
	text-decoration: none;
}

.white-text {
	color: #edf5e1;
}

.grey-text {
	color: #cdd5c1;
}

.green-text {
	color: #5cdb95;
}

.left-text {
	float: left;
}

.right-text {
	float: right;

}

.KTF-text{
	font-family: "KTF";
}