:root {
	--size-logo-img: 75px;
	--size-logo-text: 50px;
	--size-header-img: 35px;
	--margin-header-img: 10px;
	--size-header-text: 35px;
	
	--size-menu-text: 35px;
	--margin-menu: 210px;	

	--top-p-footer: 15px;
	--botttom-p-footer: 15px;
	--size-footer-img: 45px;
}