#main-text {
	text-align: center;
	font-family: "KTF";
	color: #edf5e1;
}

#contacts {
	text-align: center;
	font-family: "Intro";
	color: #edf5e1;
}

a {
	text-align: center;
	font-family: "Intro";
	color: #edf5e1;
}